@charset "UTF-8";
* {
  margin: 0;
  padding: 0;}
/*Depostivios grandes(pc)*/



@media only screen and (min-width: 992px) {
  
  h1, .menu{
    color: white;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }

      
      .block {
        background-color: #1c4638;
        display: block;
        height: 7vh;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        padding: 15px;
        background-image: linear-gradient(#42b55b, #1c4638); }

  .header {
    background-color: #1c4638;;
    color: black;
    min-height: 10vh;
    text-align: start; }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center; }


@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider {
  display: flex;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
 
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      
          
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          animation: sliding 60s infinite;
        
}

.slider__caption {
  font-weight: 500px;
  margin: 15rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.483);
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: #0c4316a2;;
  border-radius: 3px;
  text-align: center;
}
.slider__txt {
  color: rgb(255, 255, 255);
  margin-bottom: rem;
  max-width: 300px;
  font-size: 30px;
  border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        background-color: #00000051;;
        text-align:left;font-weight:normal;vertical-align:middle;
      
        
  
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.item-1 {
background:url("../img/chainsaw-man-4-1-1080x609.jpg.webp");
background-size:cover;
background-repeat: no-repeat;
background-position: center;

}

.item-2 {
  background:url("../img/FXW4i_JaMAAL-XK.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .item-3{
    background:url("../img/DBSSH-KV.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .item-4{
      background:url("../img/isekaishikkaku7.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: top;
      }

  .container {
      
      margin-right: auto;
      margin-left: auto;
      background-color: rgb(242, 253, 238);
  }

    .row {
      display: flex;
      width: 100%;
    }

.block img{
  display: flex;
  flex-direction: center;
  height: 15vh;
  border-radius: 20px;
 
}

  .menu {
    display: flex;
    flex-direction: row;
    height: 8vh;
    font-family: sans-serif; }

    .menu li {
      list-style: none;
      padding: 15px;
      border: #282822;
      background-color: #1c4638;
      margin-bottom: 15px;  }

    .menu a {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: aliceblue; }

      .menu a:hover {
      
        color: rgb(128, 136, 128); }

      .menu li:hover {
        border-radius: 2px;
      background-color: rgb(48, 53, 46); 
      height: 2vh;
    }


  #news article{
    border-radius: 9px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px; 
      text-align: center;
      transition: all 0.25s;
      background-color:   rgb(222, 233, 218);
  }



  #news .subtit{
        padding: 15px;
        color: rgb(0, 0, 0);
      background-color: #97f5b68b;
      }


  #news .row .col{
      width: 65%;
  }

  #news .row .col{
      width: 35%;
  }

  #news article {
        display: flex;
        flex-direction: column;
        padding: 2%;
        height: 100%;
        margin: 10px;
      
  }

  #news .row .col article {
    height: 100%;
  }

  #news .row .col article {
    height: 50%;
  }

 

  #news h2 {
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 24px;
    flex-grow: 1;
  }

  #news p{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    flex-grow: 1;
  }
  #news li{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news .sin{
    margin-top: 12px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news figure {
    margin: 0;
    margin-bottom: 25px;
    position: relative;
  }

  #news figure img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(86, 77, 77);

  }

  #news figure figcaption {
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family:  'Roboto', sans-serif;
    background: rgba(8, 139, 32, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;
  }

  #news figure:hover figcaption {
    background: rgb(26, 34, 28);
  }

  #news figure figcaption span {
    color: white;
  }

  #news img {
    border-radius: 2px;
  }


  .art{background-color: rgb(242, 253, 238);
  padding: 3px;}


  footer {
    display: flex;
    flex-direction: column;
    min-width: 1px;
    width: 100%;
    background: rgb(48, 53, 46);
    height: 100px;
    
  }

  .footer{
    display: flex;
      width: 100%;
      height: 65px;
      justify-content: center;
      align-items: center;
  
  }

  footer .footer i {
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 22px;
    padding-top: 20px;
  }

  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(136, 134, 134);
  }


  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
  
  }
  .container .contacto {
    height: 70vh;

  }

}
/*Depostivios Medianos(tablets)*/


  
@media (min-width: 426px) {
  h1, .menu{
    color: white;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }

      
      .block {
        background-color: #1c4638;
        display: block;
        height: 7vh;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        padding: 15px;
        background-image: linear-gradient(#42b55b, #1c4638); }

  .header {
    background-color: #1c4638;;
    color: black;
    min-height: 10vh;
    text-align: start; }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center; }


@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider {

  height: 500px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      
          
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          animation: sliding 60s infinite;
        
}

.slider__caption {
  font-weight: 500px;
  margin: 15rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.483);
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: #0c4316a2;;
  border-radius: 3px;
  text-align: center;
}
.slider__txt {
  color: rgb(255, 255, 255);
  margin-bottom: rem;
  max-width: 300px;
  font-size: 30px;
  border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        background-color: #00000051;;
        text-align:left;font-weight:normal;vertical-align:middle;
      
        
  
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.item-1 {
background:url("../img/chainsaw-man-4-1-1080x609.jpg.webp");
background-size:cover;
background-repeat: no-repeat;
background-position: center;

}

.item-2 {
  background:url("../img/FXW4i_JaMAAL-XK.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .item-3{
    background:url("../img/DBSSH-KV.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .item-4{
      background:url("../img/isekaishikkaku7.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: top;
      }

  .container {
      
      margin-right: auto;
      margin-left: auto;
      background-color: rgb(242, 253, 238);
  }

    .row {
      display: flex;
      width: 100%;
    }

.block img{
  display: flex;
  flex-direction: center;
  height: 15vh;
  border-radius: 20px;
 
}

  .menu {
    display: flex;
    flex-direction: row;
    height: 10vh;
    font-family: sans-serif; }

    .menu li {
      list-style: none;
      padding: 15px;
      border: #282822;
      background-color: #1c4638;
      margin-bottom: 15px;  }

    .menu a {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: aliceblue; }

      .menu a:hover {
      
        color: rgb(128, 136, 128); }

      .menu li:hover {
        border-radius: 2px;
      background-color: rgb(48, 53, 46); 
      height: 2vh;
    }


  #news article{
    border-radius: 9px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px; 
      text-align: center;
      transition: all 0.25s;
      background-color:   rgb(222, 233, 218);
  }



  #news .subtit{
        padding: 15px;
        color: rgb(0, 0, 0);
      background-color: #97f5b68b;
      }


  #news .row .col{
      width: 65%;
  }

  #news .row .col{
      width: 35%;
  }

  #news article {
        display: flex;
        flex-direction: column;
        padding: 2%;
        height: 100%;
        margin: 10px;
      
  }

  #news .row .col article {
    height: 100%;
  }

  #news .row .col article {
    height: 50%;
  }

 

  #news h2 {
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 24px;
    flex-grow: 1;
  }

  #news p{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    flex-grow: 1;
  }
  #news li{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news .sin{
    margin-top: 12px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news figure {
    margin: 0;
    margin-bottom: 25px;
    position: relative;
  }

  #news figure img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(86, 77, 77);

  }

  #news figure figcaption {
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family:  'Roboto', sans-serif;
    background: rgba(8, 139, 32, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;
  }

  #news figure:hover figcaption {
    background: rgb(26, 34, 28);
  }

  #news figure figcaption span {
    color: white;
  }

  #news img {
    border-radius: 2px;
  }


  .art{background-color: rgb(242, 253, 238);
  padding: 3px;}


  footer {
    display: flex;
    flex-direction: column;
    min-width: 1px;
    width: 100%;
    background: rgb(48, 53, 46);
    height: 100px;
    
  }

  .footer{
    display: flex;
      width: 100%;
      height: 65px;
      justify-content: center;
      align-items: center;
  
  }

  footer .footer i {
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 22px;
    padding-top: 20px;
  }

  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(136, 134, 134);
  }


  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
  
  }
  .container .contacto {
    height: 70vh;

  }

}

/*Depostivios pequeños(moviles)*/


 
@media (max-width: 425px) {

  * {
    margin: auto;
    padding: 0;
 }

  h1, .menu{
    color: white;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }

      
      .block {
        background-color: #1c4638;
        display: block;
        height: 7vh;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        padding: 15px;
        background-image: linear-gradient(#42b55b, #1c4638); }

  .header {
    background-color: #1c4638;;
    color: black;
    min-height: 10vh;
    text-align: start;
    width: fit-content; }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 3vh;
    padding-top:7vh;

  }
  body {
  width: fit-content; 
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider {

  height: 250px;
  width: auto;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          display: ;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
        
      
          
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          animation: sliding 60s infinite;
        
}

.slider__caption {
  font-weight: 200px;
  margin: 8rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.483);
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  opacity: 1;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background-color: #0c4316a2;;
  border-radius: 3px;
  text-align: center;
  ;
}
.slider__txt {
  color: rgb(255, 255, 255);
  margin-bottom: rem;
  max-width: 300px;
  font-size: 15px;
  border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        background-color: #00000051;;
        text-align:left;font-weight:normal;vertical-align:middle;
      display: none;
        
  
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.item-1 {
background:url("../img/chainsaw-man-4-1-1080x609.jpg.webp");
background-size:cover;
background-repeat: no-repeat;
background-position: center;

}

.item-2 {
  background:url("../img/FXW4i_JaMAAL-XK.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .item-3{
    background:url("../img/DBSSH-KV.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .item-4{
      background:url("../img/isekaishikkaku7.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: top;
      }


  .container {
      
      margin-right: auto;
      margin-left: auto;
      background-color: rgb(242, 253, 238);
  }

    .row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block img{
  display: flex;
  
  height: 15vh;
  border-radius: 20px;
 
}

  .menu {
    display: flex;
    flex-direction: row;
    height: 10vh;
    font-family: sans-serif; }

    .menu li {
      list-style: none;
      padding: 15px;
      border: #282822;
      background-color: #1c4638;
      margin-bottom: 15px;  }

    .menu a {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: aliceblue; 
      
    }

      .menu a:hover {
      
        color: rgb(128, 136, 128); }

      .menu li:hover {
        border-radius: 2px;
      background-color: rgb(48, 53, 46); 
      height: 2vh;
    }


  #news article{
    border-radius: 9px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px; 
      text-align: center;
      transition: all 0.25s;
      background-color:   rgb(222, 233, 218);
      
  }



  #news .subtit{
        padding: 15px;
        color: rgb(0, 0, 0);
      background-color: #97f5b68b;
      }


  #news .row .col{
      width: 100%;
  }

  #news article {
        display: flex;
        flex-direction: column;
        padding: 2%;
        height: 100%;
        margin: 10px;
      
  }

  #news .row .col article {
    height: 100%;
  }

  #news .row .col article {
    height: 10%;
  }

 

  #news h2 {
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    flex-grow: 1;
  }

  #news p{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    flex-grow: 1;
  }
  #news li{
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news .sin{
    margin-top: 12px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }

  #news figure {
    margin: 0;
    margin-bottom: 25px;
    position: relative;
  }

  #news figure img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(86, 77, 77);

  }

  #news figure figcaption {
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family:  'Roboto', sans-serif;
    background: rgba(8, 139, 32, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;
  }

  #news figure:hover figcaption {
    background: rgb(26, 34, 28);
  }

  #news figure figcaption span {
    color: white;
  }

  #news img {
    border-radius: 2px;
  }


  .art{
    background-color: rgb(242, 253, 238);
  padding: 3px;}


  footer {
    display: flex;
    flex-direction: column;
    min-width: 1px;
    width: 100%;
    background: rgb(48, 53, 46);
    height: 100px;
    
  }

  .footer{
    display: flex;
      width: 100%;
      height: 65px;
      justify-content: center;
      align-items: center;
  
  }

  footer .footer i {
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 22px;
    padding-top: 20px;
  }

  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(136, 134, 134);
  }


  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: black;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
  
  }
  .container .contacto {
    height: 70vh;

  }

}

